In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('relacao_de_vagas.csv')

In [11]:
df

,Unnamed: 0,Unidade,2020,2021,2022,2023,2024
0,0,1-1,Descoberta,Descoberta,Coberta,Descoberta,Descoberta
1,1,1-101,Coberta,Descoberta,Descoberta,Descoberta,Coberta
2,2,1-102,Descoberta,Descoberta,Descoberta,Coberta,Descoberta
3,3,1-103,Coberta,Descoberta,Descoberta,Descoberta,Coberta
4,4,1-104,Descoberta,Coberta,Descoberta,Coberta,Descoberta
...,...,...,...,...,...,...,...
295,295,3-92,Descoberta,Descoberta,Descoberta,Coberta,Descoberta
296,296,3-93,Descoberta,Descoberta,Descoberta,Coberta,Descoberta
297,297,3-94,Descoberta,Descoberta,Coberta,Descoberta,Descoberta
298,298,3-95,Descoberta,Descoberta,Descoberta,Descoberta,Coberta
299,299,3-96,Descoberta,Descoberta,Descoberta,Coberta,Descoberta

In [4]:
fd = pd.read_csv('modelo_pne_regular.csv')

In [9]:
final = df.merge(fd, on='Unidade')

In [14]:
final.drop(columns={'Unnamed: 0_x','Unnamed: 0_y'},inplace=True)

In [15]:
final.to_csv('relacao_de_vagas.csv')

In [16]:
final

,Unidade,2020,2021,2022,2023,2024,Tipo Vaga
0,1-1,Descoberta,Descoberta,Coberta,Descoberta,Descoberta,Regular
1,1-101,Coberta,Descoberta,Descoberta,Descoberta,Coberta,Regular
2,1-102,Descoberta,Descoberta,Descoberta,Coberta,Descoberta,Regular
3,1-103,Coberta,Descoberta,Descoberta,Descoberta,Coberta,Regular
4,1-104,Descoberta,Coberta,Descoberta,Coberta,Descoberta,Regular
...,...,...,...,...,...,...,...
295,3-92,Descoberta,Descoberta,Descoberta,Coberta,Descoberta,Regular
296,3-93,Descoberta,Descoberta,Descoberta,Coberta,Descoberta,Regular
297,3-94,Descoberta,Descoberta,Coberta,Descoberta,Descoberta,Regular
298,3-95,Descoberta,Descoberta,Descoberta,Descoberta,Coberta,PNE
299,3-96,Descoberta,Descoberta,Descoberta,Coberta,Descoberta,Regular